apiVersion: apps/v1
kind: Deployment
metadata:
  name: menuitemlisting-webapi-deployment
  labels:
    app: menuitemlisting-webapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: menuitemlisting-webapi  
  template:
    metadata:
      labels:
        app: menuitemlisting-webapi
    spec:
      containers:
      - name: menuitemlisting-webapi
        image: menuitemlisting-webapi
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: myacrcredentials
---
apiVersion: v1
kind: Service
metadata:
  name: menuitemlisting-webapisvc
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: menuitemlisting-webapi